openapi: 3.0.0
info:
  contact:
    email: contact@babylonlabs.io
  description: >-
    The Babylon Staking API offers information about the state of the Babylon
    BTC Staking system.

    Your access and use is governed by the API Access License linked to below.
  license:
    name: API Access License
    url: 'https://docs.babylonlabs.io/assets/files/api-access-license.pdf'
  title: Babylon Staking API
  version: '2.0'
servers:
  - url: 'https://staking-api.testnet.babylonlabs.io'
    description: 'Babylon Staking API Testnet'
  - url: 'https://staking-api.babylonlabs.io'
    description: 'Babylon Staking API Mainnet'
paths:
  /healthcheck:
    get:
      description: Health check the service, including ping database connection
      responses:
        "200":
          description: Server is up and running
          content:
            application/json:
              schema:
                type: string
      summary: Health check endpoint
      tags:
        - shared
  /v1/delegation:
    get:
      operationId: getDelegationV1
      summary: Get delegation (Deprecated)
      deprecated: true
      description: "[DEPRECATED] Retrieves a delegation by a given transaction hash.
        Please use /v2/delegation instead."
      parameters:
        - description: Staking transaction hash in hex format
          in: query
          name: staking_tx_hash_hex
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Delegation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.DelegationPublicObject"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v1
  /v1/finality-providers:
    get:
      deprecated: true
      description: "[DEPRECATED] Fetches details of all active finality providers
        sorted by their active total value locked (ActiveTvl) in descending
        order. Please use /v2/finality-providers instead."
      parameters:
        - description: Public key of the finality provider to fetch
          in: query
          name: fp_btc_pk
          schema:
            type: string
        - description: Pagination key to fetch the next page of finality providers
          in: query
          name: pagination_key
          schema:
            type: string
      responses:
        "200":
          description: A list of finality providers sorted by ActiveTvl in descending order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.FpDetailsPublicArray"
      summary: Get Active Finality Providers (Deprecated)
      tags:
        - v1
  /v1/global-params:
    get:
      operationId: getGlobalParamsV1
      summary: Get global params (Deprecated)
      deprecated: true
      description: "[DEPRECATED] Retrieves the global parameters for Babylon,
        including finality provider details. Please use /v2/network-info
        instead."
      responses:
        "200":
          description: Global parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.GlobalParamsPublicObject"
      tags:
        - v1
  /v1/staker/delegation/check:
    get:
      operationId: checkDelegationV1
      summary: Check delegation status
      description: >-
        Check if a staker has an active delegation by the staker BTC address
        (Taproot or Native Segwit).

        Optionally, you can provide a timeframe to check if the delegation is active within the provided timeframe

        The available timeframe is "today" which checks after UTC 12AM of the current day
      parameters:
        - description: Staker BTC address in Taproot/Native Segwit format
          in: query
          name: address
          required: true
          schema:
            type: string
        - description: Check if the delegation is active within the provided timeframe
          in: query
          name: timeframe
          schema:
            type: string
            enum:
              - today
      responses:
        "200":
          description: Delegation check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1handlers.DelegationCheckPublicResponse"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - shared
  /v1/staker/delegations:
    get:
      operationId: getStakerDelegationsV1
      summary: Get staker delegations
      description: >-
        Retrieves phase-1 delegations for a given staker. This endpoint will be
        deprecated once all phase-1 delegations are either withdrawn or
        registered into phase-2.

        This endpoint is only used to show legacy phase-1 delegations for the purpose of unbonding or registering into phase-2.
      parameters:
        - description: Staker BTC Public Key
          in: query
          name: staker_btc_pk
          required: true
          schema:
            type: string
        - description: Only return delegations with pending actions which include active,
            unbonding, unbonding_requested, unbonded
          in: query
          name: pending_action
          schema:
            type: boolean
        - description: Pagination key to fetch the next page of delegations
          in: query
          name: pagination_key
          schema:
            type: string
      responses:
        "200":
          description: List of delegations and pagination token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.DelegationPublicArray"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v1
  /v1/staker/pubkey-lookup:
    get:
      description: >-
        Retrieves public keys for the given BTC addresses. This endpoint

        only returns public keys for addresses that have associated delegations in

        the system. If an address has no associated delegation, it will not be

        included in the response. Supports both Taproot and Native Segwit addresses.
      parameters:
        - description: List of BTC addresses to look up (up to 10), currently only
            supports Taproot and Native Segwit addresses
          in: query
          name: address
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: A map of BTC addresses to their corresponding public keys (only
            addresses with delegations are returned)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.PublicKeyMapResponse"
        "400":
          description: "Bad Request: Invalid input parameters"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Get stakers' public keys
      tags:
        - shared
  /v1/stats:
    get:
      deprecated: true
      description: "[DEPRECATED] Fetches overall stats for babylon staking including
        tvl, total delegations, active tvl, active delegations and total
        stakers. Please use /v2/stats instead."
      responses:
        "200":
          description: Overall stats for babylon staking
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.OverallStatsPublicObject"
      summary: Get Overall Stats (Deprecated)
      tags:
        - v1
  /v1/stats/staker:
    get:
      deprecated: true
      description: >-
        [DEPRECATED] Fetches staker stats for babylon staking including tvl,
        total delegations, active tvl and active delegations. Please use
        /v2/staker/stats instead.

        If staker_btc_pk query parameter is provided, it will return stats for the specific staker.

        Otherwise, it will return the top stakers ranked by active tvl.
      parameters:
        - description: Public key of the staker to fetch
          in: query
          name: staker_btc_pk
          schema:
            type: string
        - description: Pagination key to fetch the next page of top stakers
          in: query
          name: pagination_key
          schema:
            type: string
      responses:
        "200":
          description: List of top stakers by active tvl
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1service.StakerStatsPublicArray"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Get Staker Stats (Deprecated)
      tags:
        - v1
  /v1/unbonding:
    post:
      description: >-
        Unbonds a phase-1 delegation by processing the provided transaction
        details. This endpoint will be deprecated once all phase-1 delegations
        are either withdrawn or registered into phase-2.

        This is an async operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1handlers.UnbondDelegationRequestPayload"
        description: Unbonding Request Payload
        required: true
      responses:
        "202":
          description: Request accepted and will be processed asynchronously
        "400":
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Unbond phase-1 delegation
      tags:
        - v1
  /v1/unbonding/eligibility:
    get:
      description: Checks if a delegation identified by its staking transaction hash
        is eligible for unbonding. This endpoint will be deprecated once all
        phase-1 delegations are either withdrawn or registered into phase-2.
      parameters:
        - description: Staking Transaction Hash Hex
          in: query
          name: staking_tx_hash_hex
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The delegation is eligible for unbonding
        "400":
          description: Missing or invalid 'staking_tx_hash_hex' query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Check unbonding eligibility
      tags:
        - v1
  /v2/apr:
    get:
      description: Get personalized staking APR based on user's BTC and BABY stake amounts
      parameters:
        - description: Total satoshis staked (confirmed + pending)
          in: query
          name: satoshis_staked
          schema:
            type: integer
            default: 0
        - description: Total ubbn staked (confirmed + pending)
          in: query
          name: ubbn_staked
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.StakingAPRPublicObject"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Get personalized staking APR
      tags:
        - v2
  /v2/delegation:
    get:
      description: Retrieves a delegation by a given transaction hash
      parameters:
        - description: Staking transaction hash in hex format
          in: query
          name: staking_tx_hash_hex
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Staker delegation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.DelegationPublicObject"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "404":
          description: "Error: Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "500":
          description: "Error: Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Get a delegation
      tags:
        - v2
  /v2/delegations:
    get:
      description: Fetches delegations for babylon staking including tvl, total
        delegations, active tvl, active delegations and total stakers.
      parameters:
        - description: Staker public key in hex format. If omitted, babylon_address is
            used as the main query parameter and state is required.
          in: query
          name: staker_pk_hex
          schema:
            type: string
        - description: Babylon address. Required if staker_pk_hex is omitted.
          in: query
          name: babylon_address
          schema:
            type: string
        - description: State of delegations (only 'active' is supported). Required if
            staker_pk_hex is omitted.
          in: query
          name: state
          schema:
            type: string
        - description: Pagination key to fetch the next page of delegations
          in: query
          name: pagination_key
          schema:
            type: string
      responses:
        "200":
          description: List of staker delegations and pagination token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.DelegationPublicArray"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "404":
          description: "Error: Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "500":
          description: "Error: Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: Get Delegations
      tags:
        - v2
  /v2/finality-providers:
    get:
      description: Fetches finality providers with its stats with pagination support
      parameters:
        - description: Pagination key to fetch the next page of finality providers
          in: query
          name: pagination_key
          schema:
            type: string
      responses:
        "200":
          description: List of finality providers with its stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.FinalityProviderPublicArray"
        "400":
          description: Invalid pagination token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "404":
          description: No finality providers found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "500":
          description: Internal server error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      summary: List Finality Providers
      tags:
        - v2
  /v2/network-info:
    get:
      operationId: getNetworkInfo
      summary: Get network info
      description: Get network info, including params
      responses:
        "200":
          description: Network info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.NetworkInfoPublic"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v2
  /v2/prices:
    get:
      operationId: getPrices
      summary: Get prices
      description: Get latest prices for all available symbols
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.PricesResponse"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v2
  /v2/staker/stats:
    get:
      operationId: getStakerStatsV2
      summary: Get staker stats
      description: Fetches staker stats for babylon staking including active tvl,
      parameters:
        - description: Public key of the staker to fetch
          in: query
          name: staker_pk_hex
          required: true
          schema:
            type: string
        - description: Babylon address of the staker to fetch
          in: query
          name: babylon_address
          schema:
            type: string
      responses:
        "200":
          description: Staker stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.StakerStatsPublicObject"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "404":
          description: "Error: Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
        "500":
          description: "Error: Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v2
  /v2/stats:
    get:
      operationId: getStatsV2
      summary: Get overall stats
      description: Overall system stats including max staking APR (BTC + co-staking)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v2service.OverallStatsPublicObject"
        "400":
          description: "Error: Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Error"
      tags:
        - v2
tags:
  - description: Shared API endpoints
    name: shared
  - description: Babylon Phase-2 API endpoints
    name: v2
  - description: Babylon Phase-1 API endpoints (Deprecated)
    name: v1
components:
  schemas:
    types.Error:
      description: Standard error response returned by all API endpoints when an error occurs.
      properties:
        err: {}
        errorCode:
          $ref: "#/components/schemas/types.ErrorCode"
        statusCode:
          type: integer
      type: object
    v1service.DelegationPublicArray:
      description: Paginated array response containing Phase-1 delegation objects.
      properties:
        data:
          items:
            $ref: "#/components/schemas/v1service.DelegationPublic"
          type: array
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v1service.FpDetailsPublicArray:
      description: Paginated array response containing Phase-1 finality provider details.
      properties:
        data:
          items:
            $ref: "#/components/schemas/v1service.FpDetailsPublic"
          type: array
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v1service.StakerStatsPublicArray:
      description: Paginated array response containing Phase-1 staker statistics.
      properties:
        data:
          items:
            $ref: "#/components/schemas/v1service.StakerStatsPublic"
          type: array
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.DelegationPublicArray:
      description: Paginated array response containing Phase-2 delegation objects.
      properties:
        data:
          items:
            $ref: "#/components/schemas/v2service.DelegationPublic"
          type: array
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.FinalityProviderPublicArray:
      description: Paginated array response containing Phase-2 finality provider objects.
      properties:
        data:
          items:
            $ref: "#/components/schemas/v2service.FinalityProviderPublic"
          type: array
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    types.PricesResponse:
      description: Response containing cryptocurrency price data as a map of symbol to price.
      properties:
        data:
          $ref: "#/components/schemas/types.MapStringFloat64"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    types.PublicKeyMapResponse:
      description: Response containing a map of BTC addresses to their corresponding public keys.
      properties:
        data:
          $ref: "#/components/schemas/types.MapStringString"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v1service.DelegationPublicObject:
      description: Response containing a single Phase-1 delegation object.
      properties:
        data:
          $ref: "#/components/schemas/v1service.DelegationPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v1service.GlobalParamsPublicObject:
      description: Response containing Phase-1 global staking parameters.
      properties:
        data:
          $ref: "#/components/schemas/v1service.GlobalParamsPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v1service.OverallStatsPublicObject:
      description: Response containing Phase-1 overall staking statistics.
      properties:
        data:
          $ref: "#/components/schemas/v1service.OverallStatsPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.DelegationPublicObject:
      description: Response containing a single Phase-2 delegation object.
      properties:
        data:
          $ref: "#/components/schemas/v2service.DelegationPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.OverallStatsPublicObject:
      description: Response containing Phase-2 overall staking statistics.
      properties:
        data:
          $ref: "#/components/schemas/v2service.OverallStatsPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.StakerStatsPublicObject:
      description: Response containing Phase-2 staker statistics for a specific staker.
      properties:
        data:
          $ref: "#/components/schemas/v2service.StakerStatsPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    v2service.StakingAPRPublicObject:
      description: Response containing personalized staking APR information.
      properties:
        data:
          $ref: "#/components/schemas/v2service.StakingAPRPublic"
        pagination:
          $ref: "#/components/schemas/types.PaginationResponse"
      type: object
    types.PaginationResponse:
      description: Pagination metadata for paginated API responses.
      properties:
        next_key:
          type: string
      type: object
    indexertypes.BbnStakingParams:
      properties:
        allow_list_expiration_height:
          type: integer
        btc_activation_height:
          type: integer
        covenant_pks:
          items:
            type: string
          type: array
        covenant_quorum:
          type: integer
        delegation_creation_base_gas_fee:
          type: integer
        max_staking_time_blocks:
          type: integer
        max_staking_value_sat:
          type: integer
        min_commission_rate:
          type: string
        min_slashing_tx_fee_sat:
          type: integer
        min_staking_time_blocks:
          type: integer
        min_staking_value_sat:
          type: integer
        slashing_pk_script:
          type: string
        slashing_rate:
          type: string
        unbonding_fee_sat:
          type: integer
        unbonding_time_blocks:
          type: integer
        version:
          type: integer
      type: object
    indexertypes.BtcCheckpointParams:
      properties:
        btc_confirmation_depth:
          type: integer
        checkpoint_finalization_timeout:
          type: integer
        version:
          type: integer
      type: object
    types.MapStringFloat64:
      description: Generic map of string keys to float64 values, used for price data.
      additionalProperties:
        format: float64
        type: number
      type: object
    types.MapStringString:
      description: Generic map of string keys to string values, used for public key lookups.
      additionalProperties:
        type: string
      type: object
    types.DelegationState:
      enum:
        - active
        - unbonding_requested
        - unbonding
        - unbonded
        - withdrawable
        - withdrawn
        - transitioned
        - slashed
      type: string
      x-enum-varnames:
        - Active
        - UnbondingRequested
        - Unbonding
        - Unbonded
        - Withdrawable
        - Withdrawn
        - Transitioned
        - Slashed
    types.ErrorCode:
      enum:
        - INTERNAL_SERVICE_ERROR
        - VALIDATION_ERROR
        - NOT_FOUND
        - BAD_REQUEST
        - FORBIDDEN
        - UNPROCESSABLE_ENTITY
        - REQUEST_TIMEOUT
      type: string
      x-enum-varnames:
        - InternalServiceError
        - ValidationError
        - NotFound
        - BadRequest
        - Forbidden
        - UnprocessableEntity
        - RequestTimeout
    types.FinalityProviderDescription:
      properties:
        details:
          type: string
        identity:
          type: string
        moniker:
          type: string
        security_contact:
          type: string
        website:
          type: string
      type: object
    types.FinalityProviderQueryingState:
      description: Status of a finality provider
      enum:
        - FINALITY_PROVIDER_STATUS_ACTIVE
        - FINALITY_PROVIDER_STATUS_INACTIVE
      type: string
      x-enum-varnames:
        - FinalityProviderStatusActive
        - FinalityProviderStatusInactive
    v1handlers.DelegationCheckPublicResponse:
      properties:
        code:
          type: integer
        data:
          type: boolean
      type: object
    v1handlers.UnbondDelegationRequestPayload:
      properties:
        staker_signed_signature_hex:
          type: string
        staking_tx_hash_hex:
          type: string
        unbonding_tx_hash_hex:
          type: string
        unbonding_tx_hex:
          type: string
      type: object
    v1service.DelegationPublic:
      properties:
        finality_provider_pk_hex:
          type: string
        is_eligible_for_transition:
          type: boolean
        is_overflow:
          type: boolean
        is_slashed:
          type: boolean
        staker_pk_hex:
          type: string
        staking_tx:
          $ref: "#/components/schemas/v1service.TransactionPublic"
        staking_tx_hash_hex:
          type: string
        staking_value:
          type: integer
        state:
          $ref: "#/components/schemas/types.DelegationState"
        unbonding_tx:
          $ref: "#/components/schemas/v1service.TransactionPublic"
      type: object
    v1service.FpDescriptionPublic:
      properties:
        details:
          type: string
        identity:
          type: string
        moniker:
          type: string
        security_contact:
          type: string
        website:
          type: string
      type: object
    v1service.FpDetailsPublic:
      properties:
        active_delegations:
          type: integer
        active_tvl:
          type: integer
        btc_pk:
          type: string
        commission:
          type: string
        description:
          $ref: "#/components/schemas/v1service.FpDescriptionPublic"
        total_delegations:
          type: integer
        total_tvl:
          type: integer
      type: object
    v1service.GlobalParamsPublic:
      properties:
        versions:
          items:
            $ref: "#/components/schemas/v1service.VersionedGlobalParamsPublic"
          type: array
      type: object
    v1service.OverallStatsPublic:
      properties:
        active_delegations:
          type: integer
        active_tvl:
          type: integer
        btc_price_usd:
          description: Optional field
          type: number
        pending_tvl:
          type: integer
        total_delegations:
          type: integer
        total_stakers:
          type: integer
        total_tvl:
          type: integer
        unconfirmed_tvl:
          type: integer
      type: object
    v1service.StakerStatsPublic:
      properties:
        active_delegations:
          type: integer
        active_tvl:
          type: integer
        staker_pk_hex:
          type: string
        total_delegations:
          type: integer
        total_tvl:
          type: integer
      type: object
    v1service.TransactionPublic:
      properties:
        output_index:
          type: integer
        start_height:
          type: integer
        start_timestamp:
          type: string
        timelock:
          type: integer
        tx_hex:
          type: string
      type: object
    v1service.VersionedGlobalParamsPublic:
      properties:
        activation_height:
          type: integer
        cap_height:
          type: integer
        confirmation_depth:
          type: integer
        covenant_pks:
          items:
            type: string
          type: array
        covenant_quorum:
          type: integer
        max_staking_amount:
          type: integer
        max_staking_time:
          type: integer
        min_staking_amount:
          type: integer
        min_staking_time:
          type: integer
        staking_cap:
          type: integer
        tag:
          type: string
        unbonding_fee:
          type: integer
        unbonding_time:
          type: integer
        version:
          type: integer
      type: object
    v2service.CovenantSignature:
      properties:
        covenant_btc_pk_hex:
          type: string
        signature_hex:
          type: string
        stake_expansion_signature_hex:
          type: string
      type: object
    v2service.DelegationPublic:
      properties:
        delegation_staking:
          $ref: "#/components/schemas/v2service.DelegationStaking"
        delegation_unbonding:
          $ref: "#/components/schemas/v2service.DelegationUnbonding"
        finality_provider_btc_pks_hex:
          items:
            type: string
          type: array
        params_version:
          type: integer
        previous_staking_tx_hash_hex:
          type: string
        staker_btc_pk_hex:
          type: string
        state:
          $ref: "#/components/schemas/v2types.DelegationState"
        withdrawal_info:
          $ref: "#/components/schemas/v2service.WithdrawalInfo"
      type: object
    v2service.DelegationStaking:
      properties:
        bbn_inception_height:
          type: integer
        bbn_inception_time:
          type: string
        end_height:
          type: integer
        slashing:
          $ref: "#/components/schemas/v2service.StakingSlashing"
        staking_amount:
          type: integer
        staking_output_idx:
          type: integer
        staking_timelock:
          type: integer
        staking_tx_hash_hex:
          type: string
        staking_tx_hex:
          type: string
        start_height:
          type: integer
      type: object
    v2service.DelegationUnbonding:
      properties:
        covenant_unbonding_signatures:
          items:
            $ref: "#/components/schemas/v2service.CovenantSignature"
          type: array
        slashing:
          $ref: "#/components/schemas/v2service.UnbondingSlashing"
        unbonding_timelock:
          type: integer
        unbonding_tx:
          type: string
      type: object
    v2service.FinalityProviderPublic:
      properties:
        active_delegations:
          type: integer
        active_tvl:
          type: integer
        btc_pk:
          type: string
        commission:
          type: string
        description:
          $ref: "#/components/schemas/types.FinalityProviderDescription"
        logo_url:
          type: string
        state:
          $ref: "#/components/schemas/types.FinalityProviderQueryingState"
        type:
          type: string
      type: object
    v2service.NetworkInfoPublic:
      properties:
        network_upgrade:
          $ref: "#/components/schemas/v2service.NetworkUpgradePublic"
        params:
          $ref: "#/components/schemas/v2service.ParamsPublic"
      type: object
    v2service.NetworkUpgradePublic:
      properties:
        pop:
          items:
            $ref: "#/components/schemas/v2service.POPUpgradePublic"
          type: array
      type: object
    v2service.OverallStatsPublic:
      properties:
        active_delegations:
          type: integer
        active_finality_providers:
          type: integer
        active_tvl:
          type: integer
        btc_staking_apr:
          description: Represents the APR for BTC staking as a decimal (e.g., 0.035 = 3.5%)
          type: number
        max_staking_apr:
          description: Represents the max staking APR (BTC + Co-staking) as a decimal
          type: number
        total_active_delegations:
          description: >-
            This represents the total active delegations on BTC chain which
            includes

            both phase-1 and phase-2 active delegations
          type: integer
        total_active_tvl:
          description: |-
            This represents the total active tvl on BTC chain which includes
            both phase-1 and phase-2 active tvl
          type: integer
        total_finality_providers:
          type: integer
      type: object
    v2service.POPUpgradePublic:
      properties:
        height:
          type: integer
        version:
          type: integer
      type: object
    v2service.ParamsPublic:
      properties:
        bbn:
          items:
            $ref: "#/components/schemas/indexertypes.BbnStakingParams"
          type: array
        btc:
          items:
            $ref: "#/components/schemas/indexertypes.BtcCheckpointParams"
          type: array
      type: object
    v2service.StakerStatsPublic:
      properties:
        active_delegations:
          type: integer
        active_tvl:
          type: integer
        slashed_delegations:
          type: integer
        slashed_tvl:
          type: integer
        unbonding_delegations:
          type: integer
        unbonding_tvl:
          type: integer
        withdrawable_delegations:
          type: integer
        withdrawable_tvl:
          type: integer
      type: object
    v2service.StakingAPRPublic:
      properties:
        additional_baby_needed_for_boost:
          type: number
        boost:
          $ref: "#/components/schemas/v2service.apr"
        current:
          $ref: "#/components/schemas/v2service.apr"
      type: object
    v2service.StakingSlashing:
      properties:
        slashing_tx_hex:
          type: string
        spending_height:
          type: integer
      type: object
    v2service.UnbondingSlashing:
      properties:
        spending_height:
          type: integer
        unbonding_slashing_tx_hex:
          type: string
      type: object
    v2service.WithdrawalInfo:
      properties:
        tx_hash:
          type: string
      type: object
    v2service.apr:
      properties:
        baby_staking_apr:
          type: number
        btc_staking_apr:
          type: number
        co_staking_apr:
          type: number
        total_apr:
          type: number
      type: object
    v2types.DelegationState:
      enum:
        - PENDING
        - VERIFIED
        - ACTIVE
        - TIMELOCK_UNBONDING
        - EARLY_UNBONDING
        - TIMELOCK_WITHDRAWABLE
        - EARLY_UNBONDING_WITHDRAWABLE
        - TIMELOCK_SLASHING_WITHDRAWABLE
        - EARLY_UNBONDING_SLASHING_WITHDRAWABLE
        - TIMELOCK_WITHDRAWN
        - EARLY_UNBONDING_WITHDRAWN
        - TIMELOCK_SLASHING_WITHDRAWN
        - EARLY_UNBONDING_SLASHING_WITHDRAWN
        - SLASHED
        - EXPANDED
      type: string
      x-enum-varnames:
        - StatePending
        - StateVerified
        - StateActive
        - StateTimelockUnbonding
        - StateEarlyUnbonding
        - StateTimelockWithdrawable
        - StateEarlyUnbondingWithdrawable
        - StateTimelockSlashingWithdrawable
        - StateEarlyUnbondingSlashingWithdrawable
        - StateTimelockWithdrawn
        - StateEarlyUnbondingWithdrawn
        - StateTimelockSlashingWithdrawn
        - StateEarlyUnbondingSlashingWithdrawn
        - StateSlashed
        - StateExpanded
