name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - environment: dev
            branch: dev
            s3_bucket: devnet-build-artifacts
          - environment: production
            branch: main
            s3_bucket: mainnet-build-artifacts

    environment: ${{ matrix.environment }}

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.3'
          cache: 'npm'

      - name: Extract branch name
        id: extract_branch
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/"* ]]; then
            echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == "refs/pull/"* ]]; then
            echo "BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV
          else
            echo "BRANCH_NAME=unknown" >> $GITHUB_ENV
          fi

      # Navigate to the correct working directory and install dependencies
      - name: Install dependencies
        working-directory: ./
        run: npm ci

      # Build the project
      - name: Build project
        working-directory: ./
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY_READONLY: ${{ secrets.ALGOLIA_API_KEY_READONLY }}
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
          TRACKING_ID: ${{ secrets.GA_TRACKING_ID }}
          API_BASE_URL: ${{ vars.API_BASE_URL }}
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          export API_BASE_URL=$API_BASE_URL
          npm run build

      # Upload to S3
      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_S3_REGION }}
        run: |
          tar -czf docs-${{ github.sha }}.tar.gz -C build .
          aws s3 cp docs-${{ github.sha }}.tar.gz s3://${{ matrix.s3_bucket }}/docs-website/${{ github.sha }}.tar.gz